name: Semgrep Scan

on:
  pull_request:
    branches: [main, develop]
  workflow_dispatch:

jobs:
  semgrep:
    name: Semgrep Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    container:
      image: semgrep/semgrep:latest
    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Semgrep
        run: semgrep ci --config=https://semgrep.dev/p/r/python
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
